.overlay {
  position: fixed;

  top: 0;
  left: 0;
  
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: var(--modal-index);

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.container {
  background: var(--white);
  border-radius: 1rem;
  color: var(--black);
  padding: 6rem 4rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;
  z-index: 10;
}