.link {
  font-size: 0.75rem;
  line-height: 1rem;

  color: var(--blue);
  transition-property: all .250s cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.link:hover {
  color: var(--blue-hover);
  text-decoration: underline;
}