.navbar {
  width: 100vw;
  height: 3rem;

  float: right;

  padding: 0.25rem 1rem;

  background: var(--white);
  z-index: var(--querybar-index);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.container {
  width: 100%;
}

.input {
  outline: none;
  width: 100%;
  background-color: var(--light);
  padding: 0.5rem 1rem;
  border-radius: 2rem;

  transition: all 256ms ease-in-out;
}

.navbar .icon {
  font-size: 2rem;
}

.focused > .content, .input:focus {
  border-radius: 2px;
}

.focused {
  position: absolute;

  padding: 1rem;

  width: 100vw;
  height: 100vh;

  left: 0;
  top: 0;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);

  z-index: var(--modal-index);
}

.content {
  width: 100%;
  padding: 0.5rem 1rem;

  height: max-content;
  background-color: var(--light);
  margin-top: 1rem;
}

@media only screen and (min-width: 600px) {
  .navbar {
    width: calc(100vw - 7rem);
  }
}
