@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: '#ffffff';
    --foreground: '#C2410C';
 
    --muted: '#FFEDD5';
    --muted-foreground: '#EA580C';
 
    --popover: '#ffffff';
    --popover-foreground: '#9A3412';
 
    --card: '#ffffff';
    --card-foreground: '#9A3412';
 
    --border: '#FDBA74';
    --input: '#FDBA74';
 
    --primary: '#9A3412';
    --primary-foreground: '#FFF7ED';
 
    --secondary: '#FFEDD5';
    --secondary-foreground: '#9A3412';
 
    --accent: '#FFEDD5';
    --accent-foreground: '#9A3412';
 
    --destructive: '#e95b4e';
    --destructive-foreground: '#FFF7ED';
 
    --ring: '#FB923C';
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
 
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
 
    --popover: 224 71% 4%;
    --popover-foreground: '#FB923C';
 
    --card: 0 0% 100%;
    --card-foreground: '#9A3412';
 
    --border: 216 34% 17%;
    --input: 216 34% 17%;
 
    --primary: '#FFF7ED';
    --primary-foreground: 222.2 47.4% 1.2%;
 
    --secondary: '#9A3412';
    --secondary-foreground: '#FFF7ED';
 
    --accent: 216 34% 17%;
    --accent-foreground: '#FFF7ED';
 
    --destructive: 0 63% 31%;
    --destructive-foreground: '#FFF7ED';
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}