.select {
  padding: 0 1rem;
  user-select: none;
}

.select {
  padding: 0.25rem 1rem .25rem 0;
}

.icon {
  position: absolute;
}

.content {
  margin-top: 3rem;

  padding: 0.25rem;
  position: absolute;
  background-color: var(--white);
  width: inherit;
  height: max-content;
  border-radius: .25rem;
}

.content:before {
  content: '';
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--white);

  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg);
  left: 50%;
  z-index: -1;
}

.option {
  padding: 0.25rem 1rem;
  display: flex;
}

.option:hover {
  background-color: var(--light);
}

.image {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .content {
    position: fixed;

    height: max-content;
    width: 100vw;
    bottom: 0;
    z-index: var(--modal-index);
  }
}